<% if @comment.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<br><br><br>
<%= form_with(model: @comment, local: true) do |form| %>
  <div class="field">
    <%= form.text_area :content, class: "comment_input" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
